In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv("hf://datasets/HenryWaltson/TMDB-IMDB-Movies-Dataset/TMDB  IMDB Movies Dataset.csv")

df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,genres,production_companies,production_countries,spoken_languages,keywords,directors,writers,averageRating,numVotes,cast
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",Christopher Nolan,Christopher Nolan,8.8,2770171,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan",8.7,2456592,"Matthew McConaughey, Anne Hathaway, Michael Ca..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go...",9.1,3116358,"Christian Bale, Heath Ledger, Aaron Eckhart, M..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",James Cameron,James Cameron,7.9,1472421,"Sam Worthington, Zoe Saldaña, Sigourney Weaver..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",Joss Whedon,"Joss Whedon, Zak Penn",8.0,1539740,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ..."

## Exploration du Dataset ##

The Dataset was found on [HuggingFace](https://huggingface.co/datasets/HenryWaltson/TMDB-IMDB-Movies-Dataset).
It is composed of TMDB and IMDB movies data.

In [31]:
print(f"The dataset contains {df.shape[0]} rows and {df.shape[1]} columns")

The dataset contains 434803 rows and 29 columns

In [32]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 434803 entries, 0 to 434802
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    434803 non-null  int64
 1   title                 434803 non-null  str
 2   vote_average          434803 non-null  float64
 3   vote_count            434803 non-null  int64
 4   status                434803 non-null  str
 5   release_date          414261 non-null  str
 6   revenue               434803 non-null  int64
 7   runtime               434803 non-null  int64
 8   adult                 434803 non-null  bool
 9   backdrop_path         184870 non-null  str
 10  budget                434803 non-null  int64
 11  homepage              54526 non-null   str
 12  tconst                434803 non-null  str
 13  original_language     434803 non-null  str
 14  original_title        434803 non-null  str
 15  overview              392288 non-null  str
 16  popularity            434803 non-null  float64
 17  poster_path           359619 non-null  str
 18  tagline               91750 non-null   str
 19  genres                355967 non-null  str
 20  production_companies  261479 non-null  str
 21  production_countries  320339 non-null  str
 22  spoken_languages      331531 non-null  str
 23  keywords              170484 non-null  str
 24  directors             424832 non-null  str
 25  writers               369685 non-null  str
 26  averageRating         434803 non-null  float64
 27  numVotes              434803 non-null  int64
 28  cast                  366256 non-null  str
dtypes: bool(1), float64(3), int64(6), str(19)
memory usage: 93.3 MB

### Nettoyage des données

In [33]:
df = df.drop_duplicates()

In [34]:
df = df.drop(columns=['backdrop_path', 'keywords', 'homepage', 'tconst', 'overview', 'poster_path', 'tagline'])

### Feature Engineering

In [35]:
# Feature 1: Rating combiné pondéré
total_votes = df['vote_count'] + df['numVotes']
combined_rating = (df['vote_average'] * df['vote_count'] + df['averageRating'] * df['numVotes']) / total_votes

df['rating'] = combined_rating
df['total_votes'] = total_votes

In [36]:
df = df.drop(columns=['vote_count', 'numVotes', 'vote_average', 'averageRating'])
df.head()

,id,title,status,release_date,revenue,runtime,adult,budget,original_language,original_title,popularity,genres,production_companies,production_countries,spoken_languages,directors,writers,cast,rating,total_votes
0,27205,Inception,Released,2010-07-15,825532764,148,False,160000000,en,Inception,83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili",Christopher Nolan,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W...",8.794638,2804666
1,157336,Interstellar,Released,2014-11-05,701729206,169,False,165000000,en,Interstellar,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,Christopher Nolan,"Jonathan Nolan, Christopher Nolan","Matthew McConaughey, Anne Hathaway, Michael Ca...",8.696297,2489163
2,155,The Dark Knight,Released,2008-07-16,1004558444,152,False,185000000,en,The Dark Knight,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.094279,3146977
3,19995,Avatar,Released,2009-12-15,2923706026,162,False,237000000,en,Avatar,79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish",James Cameron,James Cameron,"Sam Worthington, Zoe Saldaña, Sigourney Weaver...",7.893510,1502236
4,24428,The Avengers,Released,2012-04-25,1518815515,143,False,220000000,en,The Avengers,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian",Joss Whedon,"Joss Whedon, Zak Penn","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",7.994609,1568906

In [41]:
# 1. Créer des features binaires
df['has_budget_info'] = (df['budget'] > 0).astype(int)
df['has_revenue_info'] = (df['revenue'] > 0).astype(int)

# 2. Pour les valeurs, utiliser log (0 reste 0)
df['budget_log'] = np.log1p(df['budget'])  # log1p(0) = 0
df['revenue_log'] = np.log1p(df['revenue'])

In [42]:
df = df.drop(columns=['revenue', 'budget'])
df.head()

,id,title,status,release_date,runtime,adult,original_language,original_title,popularity,genres,...,spoken_languages,directors,writers,cast,rating,total_votes,has_budget_info,has_revenue_info,budget_log,revenue_log
0,27205,Inception,Released,2010-07-15,148,False,en,Inception,83.952,"Action, Science Fiction, Adventure",...,"English, French, Japanese, Swahili",Christopher Nolan,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W...",8.794638,2804666,1,1,18.890684,20.531540
1,157336,Interstellar,Released,2014-11-05,169,False,en,Interstellar,140.241,"Adventure, Drama, Science Fiction",...,English,Christopher Nolan,"Jonathan Nolan, Christopher Nolan","Matthew McConaughey, Anne Hathaway, Michael Ca...",8.696297,2489163,1,1,18.921456,20.369058
2,155,The Dark Knight,Released,2008-07-16,152,False,en,The Dark Knight,130.643,"Drama, Action, Crime, Thriller",...,"English, Mandarin",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.094279,3146977,1,1,19.035866,20.727814
3,19995,Avatar,Released,2009-12-15,162,False,en,Avatar,79.932,"Action, Adventure, Fantasy, Science Fiction",...,"English, Spanish",James Cameron,James Cameron,"Sam Worthington, Zoe Saldaña, Sigourney Weaver...",7.893510,1502236,1,1,19.283571,21.796118
4,24428,The Avengers,Released,2012-04-25,143,False,en,The Avengers,98.082,"Science Fiction, Action, Adventure",...,"English, Hindi, Russian",Joss Whedon,"Joss Whedon, Zak Penn","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",7.994609,1568906,1,1,19.209138,21.141197

In [44]:
df['release_year'] = pd.to_datetime(df['release_date']).dt.year

In [46]:
features = [
    'combined_rating',     # Rating pondéré TMDB+IMDB (créé)
    'total_votes',         # vote_count + numVotes (créé)
    'popularity',          # Score TMDB de buzz actuel
    'runtime',             # Durée du film
    'budget_log',          # 0 si inconnu, sinon log(budget)
    'revenue_log',         # 0 si inconnu, sinon log(revenue)
    'has_budget_info',     # Indicateur binaire
    'has_revenue_info',     # Indicateur binaire
    'release_year'
]

### Focus on the Label : Genres

In [38]:
unique_genres = df['genres'].dropna().str.split(', ').explode().unique()
number_of_genre = len(unique_genres)

print(f"There is {number_of_genre} different genres, that are :", sorted(unique_genres))

There is 19 different genres, that are : ['Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western']

In [39]:
single_genre_count = df[df['genres'].str.contains(',', na=True) == False].shape[0]
print(f"Number of rows with only one unique genre: {single_genre_count}")

Number of rows with only one unique genre: 187825

In [40]:
df[df['genres'].str.contains(',', na=True) == False]

,id,title,status,release_date,revenue,runtime,adult,budget,original_language,original_title,popularity,genres,production_companies,production_countries,spoken_languages,directors,writers,cast,rating,total_votes
7,550,Fight Club,Released,1999-10-15,100853753,139,False,63000000,en,Fight Club,69.498,Drama,"Regency Enterprises, Fox 2000 Pictures, Taurus...",United States of America,English,David Fincher,"Chuck Palahniuk, Jim Uhls","Edward Norton, Brad Pitt, Helena Bonham Carter...",8.796183,2583138
95,18785,The Hangover,Released,2009-06-02,469310836,100,False,35000000,en,The Hangover,72.655,Comedy,"Legendary Pictures, Green Hat Films, Warner Br...","Germany, United States of America",English,Todd Phillips,"Jon Lucas, Scott Moore","Bradley Cooper, Ed Helms, Zach Galifianakis, J...",7.693411,931125
216,14,American Beauty,Released,1999-09-15,356296601,122,False,15000000,en,American Beauty,29.837,Drama,"Jinks/Cohen Company, DreamWorks Pictures",United States of America,English,Sam Mendes,Alan Ball,"Kevin Spacey, Annette Bening, Thora Birch, Wes...",8.297364,1281380
218,37799,The Social Network,Released,2010-10-01,224920315,121,False,40000000,en,The Social Network,36.101,Drama,"Columbia Pictures, Relativity Media, Scott Rud...",United States of America,English,David Fincher,"Aaron Sorkin, Ben Mezrich","Jesse Eisenberg, Andrew Garfield, Armie Hammer...",7.793972,820564
221,489,Good Will Hunting,Released,1997-12-05,225933435,127,False,10000000,en,Good Will Hunting,56.169,Drama,"Miramax, Lawrence Bender Productions, Be Gentl...",United States of America,English,Gus Van Sant,"Matt Damon, Ben Affleck","Matt Damon, Robin Williams, Ben Affleck, Stell...",8.298601,1199008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434781,836515,Наши знакомые,Released,1969-06-02,0,0,False,0,ru,Наши знакомые,1.744,Drama,Gorky Film Studios,Soviet Union,NaN,Ilya Gurin,"Yuri German, Ilya Gurin","Natalya Tenyakova, Kirill Lavrov, Ivan Lapikov...",6.500000,20
434784,836522,Они живут рядом,Released,1968-05-06,0,0,False,0,ru,Они живут рядом,0.600,Drama,Mosfilm,Soviet Union,NaN,Grigoriy Roshal,NaN,"Aleksandr Borisov, Evgeniy Evstigneev, Viktori...",6.100000,15
434786,836534,The Picnic,Released,1998-10-03,0,17,False,0,ko,소풍,0.600,Drama,NaN,South Korea,Korean,Song Il-gon,Song Il-gon,"Son Byung-ho, Choi Ji-yeon",6.300000,76
434790,836378,Guns N Roses: Live Rarities,Released,2007-08-17,0,37,False,0,en,Guns N Roses: Live Rarities,0.600,Documentary,Shoreline Entertainment,NaN,English,NaN,NaN,"Axl Rose, Slash, Izzy Stradlin, Duff McKagan, ...",6.300000,8
434801,836333,The Vampire Assassin,Released,2007-04-15,0,19,False,0,en,The Vampire Assassin,0.600,Horror,ArchAngel Productions,United States of America,English,Michael Kazlo,Michael Kazlo,"Stefani Brown, Michael J Cannon, Carl Dana, Pi...",7.200000,18